<h1> Galeria <small>Codexmaker</small></h1>

<hr>


<div class="card-columns">

  <div class="card animated fadeIn fast" *ngFor="let ShowItem of galeria; let i = index">
   <img class="card-img-top" [src]="ShowItem.img" [alt]="ShowItem.nombre">
   <div class="card-body">
     <h5 class="card-title">{{ ShowItem.nombre }}</h5>
     <p class="card-text">{{ ShowItem.bio }}</p>
     <p class="card-text"><small class="text-muted">{{ ShowItem.aparicion }}</small></p>

      <button (click)="verPicture(i)"
        type="button" class="btn btn-outline-primary btn-block">
          Ver más..
      </button>

      <!-- a [routerLink]="['/picture',i]" class="btn btn-outline-primary">Ver más link...</a-->

   </div>
 </div>



</div>
